@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body, div, span, applet, object,
  iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
  pre, a, abbr, acronym, address, big, cite,
  code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b,
  u, i, center, dl, dt, dd, ol, ul, li, fieldset,
  form, label, legend, table, caption, tbody,
  tfoot, thead, tr, th, td, article, aside,
  canvas, details, embed, figure, figcaption,
  footer, header, hgroup, menu, nav, output, ruby,
  section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}
  
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;}

  body{
    line-height:1;
  }

  body{
    -webkit-text-size-adjust: none;
  }

  /* html */

  html{
    box-sizing:border-box;
  }

  *, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #fff;
	}

  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

  body, input, select, textarea {
    color: #a2a2a2;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
  }

  h1,h2,h3{
    color: #787878;
    font-weight: 400;
    line-height:1em;
    margin:0 0 1em 0;
  }

  h1{
    font-size: 2em;
    line-height: 1.5em;
  }

  h2{
    font-size: 1.5em;
    line-height:1.5em;
  }

  h3{
    font-size:1.25em;
    line-height: 1.5em;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
  }

  /* Header */
  #header{
    display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: -moz-flex-end;
		-webkit-align-items: -webkit-flex-end;
		-ms-align-items: -ms-flex-end;
		align-items: flex-end;
		-moz-justify-content: space-between;
    justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
    background: black;
		background-attachment: scroll,								scroll;
		background-image: url("../images/Header.jpg"), url("../../images/bg.jpg");
		background-position: top left,							top left;
		background-repeat: repeat,								no-repeat;
    background-size: auto;
    color: rgba(255, 255, 255, 0.5);
		height: 100%;
		left: 0;
		padding: 8em 4em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 35%;
  }

    #header > * {
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      -ms-flex-grow:1;
      flex-grow:1;
      margin:0 0 2em 0;

    }

    #header strong, #header b {
			color: #ffffff;
		}

		#header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

		#header h1 {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
		}

		#header .image.avatar {
			margin: 0 0 1em 0;
			width: 6.25em;
		}

/*Image*/

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: url("images/overlay.png");
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .image.thumb {
    text-align: center;
  }

    .image.thumb:after {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      border: solid 3px rgba(255, 255, 255, 0.5);
      color: #fff;
      content: 'View';
      display: inline-block;
      font-size: 0.8em;
      font-weight: 400;
      left: 50%;
      line-height: 2.25em;
      margin: -1.25em 0 0 -3em;
      opacity: 0;
      padding: 0 1.5em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 50%;
      white-space: nowrap;
    }

    .image.thumb:hover:after {
      opacity: 1.0;
    }

    .image.thumb:hover:before {
      background: url("images/overlay.png"), url("images/overlay.png");
      opacity: 1.0;
    }

  .image img {
    border-radius: 0.35em;
    display: block;
  }

  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }

  .image.left, .image.right {
    max-width: 40%;
  }

    .image.left img, .image.right img {
      width: 100%;
    }

  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.avatar {
    border-radius: 100%;
  }

    .image.avatar:before {
      display: none;
    }

    .image.avatar img {
      border-radius: 100%;
      width: 100%;
    }


    /* Footer */

	#footer .icons {
		margin: 1em 0 0 0;
	}

		#footer .icons a {
			color: rgba(255, 255, 255, 0.4);
		}

	#footer .copyright {
		color: rgba(255, 255, 255, 0.4);
		font-size: 0.8em;
		list-style: none;
		margin: 1em 0 0 0;
		padding: 0;
	}

		#footer .copyright li {
			border-left: solid 1px rgba(255, 255, 255, 0.25);
			display: inline-block;
			line-height: 1em;
			margin-left: 0.75em;
			padding-left: 0.75em;
		}

			#footer .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

			#footer .copyright li a {
				color: inherit;
			}
  
  /* Labeled Icons */

	ul.labeled-icons {
		list-style: none;
		padding: 0;
	}

		ul.labeled-icons li {
			line-height: 1.75em;
			margin: 1.5em 0 0 0;
			padding-left: 2.25em;
			position: relative;
		}

			ul.labeled-icons li:first-child {
				margin-top: 0;
			}

			ul.labeled-icons li a {
				color: inherit;
			}

			ul.labeled-icons li h3 {
				color: #b2b2b2;
				left: 0;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1em;
			}


/* Main */

#main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
}

  #main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
  }

    #main > section:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }

/* Section/Article */

section.special, article.special {
  text-align: center;
}

header p {
  color: #b2b2b2;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}



header.major h2 {
  font-size: 2em;
}


/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row.aln-left {
    justify-content: flex-start;
  }

  .row.aln-center {
    justify-content: center;
  }

  .row.aln-right {
    justify-content: flex-end;
  }

  .row.aln-top {
    align-items: flex-start;
  }

  .row.aln-middle {
    align-items: center;
  }

  .row.aln-bottom {
    align-items: flex-end;
  }

  .row > .imp {
    order: -1;
  }

  .row > .col-1 {
    width: 8.33333%;
  }

  .row > .off-1 {
    margin-left: 8.33333%;
  }

  .row > .col-2 {
    width: 16.66667%;
  }

  .row > .off-2 {
    margin-left: 16.66667%;
  }

  .row > .col-3 {
    width: 25%;
  }

  .row > .off-3 {
    margin-left: 25%;
  }

  .row > .col-4 {
    width: 33.33333%;
  }

  .row > .off-4 {
    margin-left: 33.33333%;
  }

  .row > .col-5 {
    width: 41.66667%;
  }

  .row > .off-5 {
    margin-left: 41.66667%;
  }

  .row > .col-6 {
    width: 50%;
  }

  .row > .off-6 {
    margin-left: 50%;
  }

  .row > .col-7 {
    width: 58.33333%;
  }

  .row > .off-7 {
    margin-left: 58.33333%;
  }

  .row > .col-8 {
    width: 66.66667%;
  }

  .row > .off-8 {
    margin-left: 66.66667%;
  }

  .row > .col-9 {
    width: 75%;
  }

  .row > .off-9 {
    margin-left: 75%;
  }

  .row > .col-10 {
    width: 83.33333%;
  }

  .row > .off-10 {
    margin-left: 83.33333%;
  }

  .row > .col-11 {
    width: 91.66667%;
  }

  .row > .off-11 {
    margin-left: 91.66667%;
  }

  .row > .col-12 {
    width: 100%;
  }

  .row > .off-12 {
    margin-left: 100%;
  }

  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }

    .row.gtr-0 > * {
      padding: 0 0 0 0em;
    }

    .row.gtr-0.gtr-uniform {
      margin-top: 0em;
    }

      .row.gtr-0.gtr-uniform > * {
        padding-top: 0em;
      }

  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.625em;
  }

    .row.gtr-25 > * {
      padding: 0 0 0 0.625em;
    }

    .row.gtr-25.gtr-uniform {
      margin-top: -0.625em;
    }

      .row.gtr-25.gtr-uniform > * {
        padding-top: 0.625em;
      }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1.25em;
  }

    .row.gtr-50 > * {
      padding: 0 0 0 1.25em;
    }

    .row.gtr-50.gtr-uniform {
      margin-top: -1.25em;
    }

      .row.gtr-50.gtr-uniform > * {
        padding-top: 1.25em;
      }

  .row {
    margin-top: 0;
    margin-left: -2.5em;
  }

    .row > * {
      padding: 0 0 0 2.5em;
    }

    .row.gtr-uniform {
      margin-top: -2.5em;
    }

      .row.gtr-uniform > * {
        padding-top: 2.5em;
      }

  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3.75em;
  }

    .row.gtr-150 > * {
      padding: 0 0 0 3.75em;
    }

    .row.gtr-150.gtr-uniform {
      margin-top: -3.75em;
    }

      .row.gtr-150.gtr-uniform > * {
        padding-top: 3.75em;
      }

  .row.gtr-200 {
    margin-top: 0;
    margin-left: -5em;
  }

    .row.gtr-200 > * {
      padding: 0 0 0 5em;
    }

    .row.gtr-200.gtr-uniform {
      margin-top: -5em;
    }

      .row.gtr-200.gtr-uniform > * {
        padding-top: 5em;
      }

  @media screen and (max-width: 1800px) {

    .row {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: stretch;
    }

      .row > * {
        box-sizing: border-box;
      }

      .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
      }

      .row.aln-left {
        justify-content: flex-start;
      }

      .row.aln-center {
        justify-content: center;
      }

      .row.aln-right {
        justify-content: flex-end;
      }

      .row.aln-top {
        align-items: flex-start;
      }

      .row.aln-middle {
        align-items: center;
      }

      .row.aln-bottom {
        align-items: flex-end;
      }

      .row > .imp-xlarge {
        order: -1;
      }

      .row > .col-1-xlarge {
        width: 8.33333%;
      }

      .row > .off-1-xlarge {
        margin-left: 8.33333%;
      }

      .row > .col-2-xlarge {
        width: 16.66667%;
      }

      .row > .off-2-xlarge {
        margin-left: 16.66667%;
      }

      .row > .col-3-xlarge {
        width: 25%;
      }

      .row > .off-3-xlarge {
        margin-left: 25%;
      }

      .row > .col-4-xlarge {
        width: 33.33333%;
      }

      .row > .off-4-xlarge {
        margin-left: 33.33333%;
      }

      .row > .col-5-xlarge {
        width: 41.66667%;
      }

      .row > .off-5-xlarge {
        margin-left: 41.66667%;
      }

      .row > .col-6-xlarge {
        width: 50%;
      }

      .row > .off-6-xlarge {
        margin-left: 50%;
      }

      .row > .col-7-xlarge {
        width: 58.33333%;
      }

      .row > .off-7-xlarge {
        margin-left: 58.33333%;
      }

      .row > .col-8-xlarge {
        width: 66.66667%;
      }

      .row > .off-8-xlarge {
        margin-left: 66.66667%;
      }

      .row > .col-9-xlarge {
        width: 75%;
      }

      .row > .off-9-xlarge {
        margin-left: 75%;
      }

      .row > .col-10-xlarge {
        width: 83.33333%;
      }

      .row > .off-10-xlarge {
        margin-left: 83.33333%;
      }

      .row > .col-11-xlarge {
        width: 91.66667%;
      }

      .row > .off-11-xlarge {
        margin-left: 91.66667%;
      }

      .row > .col-12-xlarge {
        width: 100%;
      }

      .row > .off-12-xlarge {
        margin-left: 100%;
      }

      .row.gtr-0 {
        margin-top: 0;
        margin-left: 0em;
      }

        .row.gtr-0 > * {
          padding: 0 0 0 0em;
        }

        .row.gtr-0.gtr-uniform {
          margin-top: 0em;
        }

          .row.gtr-0.gtr-uniform > * {
            padding-top: 0em;
          }

      .row.gtr-25 {
        margin-top: 0;
        margin-left: -0.625em;
      }

        .row.gtr-25 > * {
          padding: 0 0 0 0.625em;
        }

        .row.gtr-25.gtr-uniform {
          margin-top: -0.625em;
        }

          .row.gtr-25.gtr-uniform > * {
            padding-top: 0.625em;
          }

      .row.gtr-50 {
        margin-top: 0;
        margin-left: -1.25em;
      }

        .row.gtr-50 > * {
          padding: 0 0 0 1.25em;
        }

        .row.gtr-50.gtr-uniform {
          margin-top: -1.25em;
        }

          .row.gtr-50.gtr-uniform > * {
            padding-top: 1.25em;
          }

      .row {
        margin-top: 0;
        margin-left: -2.5em;
      }

        .row > * {
          padding: 0 0 0 2.5em;
        }

        .row.gtr-uniform {
          margin-top: -2.5em;
        }

          .row.gtr-uniform > * {
            padding-top: 2.5em;
          }

      .row.gtr-150 {
        margin-top: 0;
        margin-left: -3.75em;
      }

        .row.gtr-150 > * {
          padding: 0 0 0 3.75em;
        }

        .row.gtr-150.gtr-uniform {
          margin-top: -3.75em;
        }

          .row.gtr-150.gtr-uniform > * {
            padding-top: 3.75em;
          }

      .row.gtr-200 {
        margin-top: 0;
        margin-left: -5em;
      }

        .row.gtr-200 > * {
          padding: 0 0 0 5em;
        }

        .row.gtr-200.gtr-uniform {
          margin-top: -5em;
        }

          .row.gtr-200.gtr-uniform > * {
            padding-top: 5em;
          }

  }

  /* Work Item */

	.work-item {
		margin: 0 0 2em 0;
	}

		.work-item .image {
			margin: 0 0 1.5em 0;
		}

		.work-item h3 {
			font-size: 1em;
			margin: 0 0 0.5em 0;
		}

		.work-item p {
			font-size: 0.8em;
			line-height: 1.5em;
			margin: 0;
		}

